body {
   box-sizing: border-box;
   margin: 0 auto;
}

.navlinks {
    float: right;
    padding: 10px;
    color: teal;
    padding-top: 20px;
    margin-top:50px;
}

header {
    width: 960px;
    background-color: white;
    margin: 0 auto;
}
 

#name{
    background-color: teal;
    width: 300px;
    height: 80px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.content {
    background-color: white; 
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

#pagename {
    background-color: white;
    width: 300px;
    height: 80px;
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.p {
    font-size: 18px;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
}

#image1 {
    height:250px;
    width:250px;
    border: 20px;
    padding: 20px;
    margin: 20px;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.section1 {
    /* background-color: lightgoldenrodyellow;  */
    background-image: url(../assets/images/light-veneer.png);
    height: 700px;
    
}

.line1 {
    height: 5px;
    background-color: grey;
}

.line2 {
    height: 5px;
    background-color: grey;
    width: 960px;
}

.line3 {
    height: 5px;
    background-color: teal;
}

.line4 {
    height: 50px;
    background-color: grey;
}


#input1 {
    width: 900px;
}

#input2 {
    width: 900px;
}

#contentp {
    height: 500px;
}

#cheesypoofgame {
    margin:20px;
}

.gamepic {
    width:200px;
    height:200px;
}

#unicorngame {
    position: relative;
    margin:20px;

}

#unicornpic {
    z-index: -1;
}

#unicorngametag {
    color: white;
    background-color: teal;
    width:200px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    position: absolute;
    right:0%;
    top: -70px;
}

  @media screen and (max-width: 980px) {
    .content {
        width: 75%;
        padding: 20px;
        margin-left: 5%;
        margin-bottom:5%;
        }
        header {
            width: 100%;
        }
        #name{
            margin: 10px;
        }
        #image1 {
            height:200px;
            width:200px;
        }
        .line2 {
            width: 90%;
        }
        #input1 {
            width: 90%;
        }
        
        #input2 {
            width: 90%;
        }
        #message {
            width: 90%;
        }
        .section1 {
            height: 90%;
        
      }

  @media screen and (max-width: 768px) {
    .content {
        width: 85%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .navlinks {
        margin-top:20px;
    }

    #name{
        padding-top: 20px;
        margin: 0px;
        margin-left: 5%;
    }

  }
  @media screen and (max-width: 640px) {
   
    #name{
        width: 100%;
        margin-left:0%;
        text-align: center;
        position: fixed;
    }
    .navlinks {
        background-color: white;
        float: left;
        margin-top: 100px;
        font-size: 22px;

    }
    #navlinks {
        width: 100%;
        background-color: white;
        position: fixed;
    }
    #pagename {
        width:200px;
    }
    #contactlink {
        margin-left: 25%;
    }
    .content {
        margin-top:140px;

    }
    #unicornpic {
        margin-top: 20px;
    }
    #cheesypoofpic {
        margin-top: 20px;
    }
   

  }

